<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
    <title>Sign In</title>

    <h1>Sign in</h1>    
    
    <p>Still don't have an account, then please <a href="{{ signup_url }}">sign up</a></p>
    
    {% url 'account_login' as login_url %}
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    
    {% load socialaccount %}
    
    <a href="{% provider_login_url 'google'%}">Login with google</a>
</body>
</html>
