{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} <title>Sign In</title> {% endblock %}
</head>
<body>
    {% block content %}
        <h1>Sign in</h1>
        
        <p>Still don't have an account, then please <a href="{{ signup_url }}">sign up</a></p>
        
        {% include "partials/form_component.html" with value="Login" %}
        
        <a href="{% provider_login_url 'google'%}">Login with google</a>
    {% endblock %}
</body>
</html>
