<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><strong>Id:</strong> {{ user.id }}</p>
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>

    <a href="edit/{{ user.id }}">Editar Perfil</a>
    <a href="delete/{{ user.id }}">Deletar Perfil</a>
    <a href="/">Acessar o site</a>
</body>
</html>
