<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curso | {{ curso.nome }}</title>
</head>
<body>
  <h1>{{ curso.nome }}</h1>
  <p>Código: {{ curso.codigo }}</p>
  <h2>Disciplinas</h2>
  {% for disciplina in curso.disciplinas.all.values %}
    <a href="/disciplina/{{ disciplina.id }}"><p>{{ disciplina.nome }}</p></a>
  {% endfor %}
  <button onclick="location.href = '/edit-course/{{ curso.id }}'" >Editar</button>
  <button onclick="history.back()">Voltar</button>
</body>
</html>