<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ object_type | capfirst }} | Details</title>
</head>
<body>
  <h1> {{ object_type | capfirst }} | Details</h1>
  {% for field, value in object.items %}
    <ul>
      <li>{{ field }}: {{ value }}</li>
    </ul>
  {% endfor %}
  
  <button onclick="location.href = 'edit/{{ object.id }}'" >Update</button>
  <button onclick="location.href = 'delete/{{ object.id }}'" >Delete</button>
  <a href="/list-{{ object_type }}s">Back</a>
</body>
</html>