{% extends 'home.html' %}

{% block title %} <title>{{ object_type | title }} | Details</title> {% endblock %}

{% block content %}
  <h1> {{ object_type | title }} | Details</h1>
  
  {% for field, value in object.items %}
    <ul>
      {% if field != 'slug' %}
        <li>{{ field }}: {{ value }}</li>
      {% endif %}
    </ul>
  {% endfor %}
  
  {% if perms.scheduleManagement.can_add_curso %}
    <button onclick="location.href = 'edit/{{ object.slug }}'" >Update</button>
    <button onclick="location.href = 'delete/{{ object.slug }}'" >Delete</button>
  {% endif %}

  <a href="/list-{{ object_type }}s">Back</a>
{% endblock %}
